header {
  align-content: center;
  padding-left: 300px;
}

main {
  margin-top: 300px;
}

.brick {
  padding: 270px;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-image: url("./Images/tat-girl.jpeg");
}

.logo {
  padding-top: 15px;
  padding-left: 30px;
  position: absolute;
  left: 0;
  top: 0;
}

.blot2 {
  height: 130px;
  width: 130px;
  margin: -30px;
}

.main-container {
  text-align: center;
}

.searchCard {
  margin-top: 50px;
  margin-right: 115px;
  margin-left: -200px;
  width: 100%;
}

.spray {
  margin-bottom: 20px;
  font-size: 27px;
  font-family: "Sedgwick Ave Display", cursive;
  color: whitesmoke;
}

.toe {
  background-color: whitesmoke;
  text-align: center;
  width: 100%;
  padding: 8px;
  color: peachpuff;
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  box-shadow: 0 0 10px 2px;
}

.copyR {
  color: black;
}
